img{
    width: 300px;
}
.btn{
    width: 12%;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: bold;
    margin-right:7px;
    height: 90px;
    border-radius: 50%;
    letter-spacing: 3px;
    color: white;
    outline: none;
}
.btn-start{
    background-color: #2ecc71;
}
.btn-stop{
    background-color: #e74c3c;
}
.btn-reset{
    background-color:#f1c40f;
}
.btn-start:active{
    background-color: #1d8348;
}
.btn-stop:active{
    background-color: #9b3428;
}
.btn-reset:active{
    background-color:#997d0e;
}